[submodule "trimesh-ray-optix"]
	path = trimesh-ray-optix
	url = https://github.com/lcp29/trimesh-ray-optix
[submodule "poly_decomp.py"]
	path = poly_decomp.py
	url = https://github.com/wsilva32/poly_decomp.py.git
[submodule "auto_LiRPA"]
	path = auto_LiRPA
	url = https://github.com/Verified-Intelligence/auto_LiRPA
[submodule "bounding-mesh"]
	path = bounding-mesh
	url = https://github.com/gaschler/bounding-mesh.git
[submodule "Verifier_Development"]
	path = Verifier_Development
	url = https://github.com/Verified-Intelligence/Verifier_Development.git
